/* ALL PAGES */

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

html,
body {
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    background-color: #fff;
    border-bottom: 4px solid #c0cad1;
}

#body {
    padding-bottom: 80px;
}

#body::after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #6f7984;
    border-top: 6px solid #3a4ee9;
}

body {
    background-image: url("../images/shattered/shattered.png");
    background-size: 20%;
    font-family: 'Karla', sans-serif;
    color: #6f7984;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    background-color: #3a4ee9;
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 20px 40px;
    float: left;
}

h1:hover {
    outline: none;
    background-color: #64d5d7;
    transition: 0.1s;
}

h2 {
    color: #282d3e;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 700;
}

h3 {
    color: #282d3e;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

nav {
    float: right;
    padding: 24px;
}

li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

a {
    color: #6f7984;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #64d5d7;
    transition: 0.1s;
}

a:active {
    color: #40aaac;
}

#port {
    border-left: 1px solid #282d3e;
    border-right: 1px solid #282d3e;
}

section {
    background-color: #fff;
    width: 55%;
    min-width: 150px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 10%;
    float: left;
}

aside {
    background-color: #fff;
    width: 20%;
    min-width: 150px;
    float: left;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.aside::after {
    content: "";
    display: table;
    clear: both;
}

footer p {
    color: #c0cad1;
    font-size: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentspan {
    width: 65%;
    margin: 0 auto;
    position: relative;
}

.contentspan::after {
    content: "";
    display: table;
    clear: both;
}

.hrthick {
    border: 1px solid #c0cad1;
    margin-bottom: 20px;
}

.hrthin {
    border: 0.5px solid #c0cad1;
}

.connect {
    width: 25%;
    margin-top: 20px;
}

.connect-margin {
    margin-right: 5%;
}

.connect:hover {
    box-shadow: 0 1px 5px #6f7984;
    transition: 0.1s;
}

::selection {
    background: #7febec;
}


/* About Me page */

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

p {
    line-height: 2em;
    margin-bottom: 1.5em;
}

#biophoto {
    width: 150px;
    margin-right: 20px;
    float: left;
}


/* Contact page */

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c0cad1;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 14px;
}

::placeholder {
    color: #c0cad1;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
}

label {
    color: #6f7984;
    font-family: 'Karla', sans-serif;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 100%;
    background-color: #3a4ee9;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #3a4ee9;
    box-shadow: 0 0 3px #3a4ee9;
    transition: 0.1s;
}

input[type=submit]:hover {
    outline: none;
    background-color: #64d5d7;
    transition: 0.1s;
}

input[type=submit]:active {
    outline: none;
    background-color: #40aaac;
}

input[type=submit]:focus {
    outline: none;
}


/* Portfolio Page */

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

@media screen (max-width: 980px) {}

.photobox {
    width: 40%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
}

.photobox:hover {
    box-shadow: 0 1px 5px #6f7984;
    transition: 0.1s;
}

.photo {
    width: 100%;
}

.projlabel {
    position: absolute;
    background-color: #3a4ee9;
    color: #fff;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.projlabel:active {
    outline: none;
    background-color: #40aaac;
}